.payment-page {
  &--main {
    display: flex;
    gap: 50px;
    margin-top: 20px;

    &__left {
      flex: 1;
      &__order-list {
        display: flex;
        flex-direction: column;
      }

      &.customer-info {
        // display: flex;
        // flex-direction: column;

        &.item {
          display: flex;
          flex-direction: row;
          gap: 5px;

          &.location {
            margin-top: 10px;
          }
        }
      }
    }

    &__right {
      flex-basis: 25%;

      &.order,
      &.shipping,
      &.price {
        display: flex;
        justify-content: space-between;
      }

      &.shipping {
        margin-top: 5px;
      }

      &.price {
        margin-top: 10px;
      }
    }
  }
}
