.cart-product {
  display: flex;
  justify-content: space-between;

  &--left {
    display: flex;
    align-items: center;

    &__img {
      width: 100px;
      height: 100px;
    }

    &__info {
      margin-left: 20px;
    }
  }

  &--right {
    flex-basis: 30%;
    display: flex;
    align-items: center;

    &__quantity {
      display: flex;
      align-items: center;
    }

    &__price {
      margin-left: 20px;
    }
  }
}
